In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Task/Titanic.csv")

In [3]:
df.head()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,Survived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [4]:
df = df[["Passengerid","Age","Fare","Sex","sibsp","Pclass","Embarked","Survived"]]

In [5]:
df.head()

   Passengerid   Age     Fare  Sex  sibsp  Pclass  Embarked  Survived
0            1  22.0   7.2500    0      1       3       2.0         0
1            2  38.0  71.2833    1      1       1       0.0         1
2            3  26.0   7.9250    1      0       3       2.0         1
3            4  35.0  53.1000    1      1       1       2.0         1
4            5  35.0   8.0500    0      0       3       2.0         0

In [6]:
df.isnull().sum()

Passengerid    0
Age            0
Fare           0
Sex            0
sibsp          0
Pclass         0
Embarked       2
Survived       0
dtype: int64

In [7]:
median = df['Embarked'].median()

In [8]:
df['Embarked'] = df['Embarked'].fillna(median)

In [9]:
df.isnull().sum()

Passengerid    0
Age            0
Fare           0
Sex            0
sibsp          0
Pclass         0
Embarked       0
Survived       0
dtype: int64

In [10]:
input = df.drop(["sibsp","Embarked","Fare","Survived"],axis = "columns")
target = df["Survived"]

In [11]:
input.head()

   Passengerid   Age  Sex  Pclass
0            1  22.0    0       3
1            2  38.0    1       1
2            3  26.0    1       3
3            4  35.0    1       1
4            5  35.0    0       3

In [12]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
Passen = LabelEncoder()
Age = LabelEncoder()
Sex = LabelEncoder()
Pclass = LabelEncoder()

In [15]:
input["Passengrid_n"] = Passen.fit_transform(input["Passengerid"])
input["Age_n"] = Age.fit_transform(input["Age"])
input["Sex_n"] = Sex.fit_transform(input["Sex"])
input["Pclass_n"] = Pclass.fit_transform(input["Pclass"])

In [16]:
input.head()

   Passengerid   Age  Sex  Pclass  Passengrid_n  Age_n  Sex_n  Pclass_n
0            1  22.0    0       3             0     32      0         2
1            2  38.0    1       1             1     57      1         0
2            3  26.0    1       3             2     39      1         2
3            4  35.0    1       1             3     53      1         0
4            5  35.0    0       3             4     53      0         2

In [28]:
input_n = input.drop(["Passengerid","Age","Sex","Pclass","Passengrid_n"],axis= "columns")

In [29]:
input_n.head()

   Age_n  Sex_n  Pclass_n
0     32      0         2
1     57      1         0
2     39      1         2
3     53      1         0
4     53      0         2

In [30]:
from sklearn import tree

In [31]:
model = tree.DecisionTreeClassifier()

In [32]:
model.fit(input_n,target)

DecisionTreeClassifier()

In [33]:
model.score(input_n,target)

0.8502673796791443

In [36]:
model.predict([[53,0,2]])

C:\Users\HP\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [37]:
model.predict([[60,1,2]])

C:\Users\HP\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)