**1. Write a program to iterate the first 10 numbers, and in each iteration, print the sum of
the current and previous number.**

In [2]:
j = 0
for i in range(10):
    j += i
    print(j)

0
1
3
6
10
15
21
28
36
45

2. Print the following pattern
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [8]:
for i in range(1,6):
    for j in range(i):
        print(i,end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

3. List is given below:
numbers = [12, 75, 150, 180, 145, 525, 50]
Write a program to display only those numbers from a list that satisfy the following
conditions
i. The number must be divisible by five
ii. If the number is greater than 150, then skip it and move to the next number
iii. If the number is greater than 500, then stop the loop

In [14]:
# 1)
print('#1')
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if (i%5 == 0):
        print(i)
print()

print('#2')
# 2) 
for i in numbers:
    if (i > 150):
        continue
    else:
        print(i)
print()        
        
print('#3')
# 3) 
for i in numbers:
    if (i > 500):
        break
    else:
        print(i)

#1
75
150
180
145
525
50

#2
12
75
150
145
50

#3
12
75
150
180
145

4. Display Fibonacci series up to 10 terms
The Fibonacci Sequence is a series of numbers. The next number is found by adding
up the two numbers before it. The first two numbers are 0 and 1.
For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is
13+21 = 34

In [29]:
num1 = 0
num2 = 1
print(num1, ",", num2,end = "")
for i in range(8):
    num3 = num1 + num2
    print(",",num3,end = "")
    num1 = num2
    num2 = num3

0 , 1, 1, 2, 3, 5, 8, 13, 21, 34

5. Write a program to use the loop to find the factorial of a given number.
The factorial (symbol: !) means to multiply all whole numbers from the chosen number
down to 1.
For example: calculate the factorial of 5
5! = 5 × 4 × 3 × 2 × 1 = 120

In [67]:
num = int(input("Enter number for factorial: "))
sum = 1
while(num != 0):
    sum = sum*num
    num -= 1
    
print(sum)

120

6. Write a program to iterate a given list and count the occurrence of each element and
print to show the count of each element.
<br>
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
<br>

Expected Output:
Printing count of each item
11: 2, 45: 3, 8: 1, 23: 2, 89: 1

In [71]:
list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
count = {}

for item in list:
    if item in count:
        count[item] +=1
    else:
        count[item] = 1
count

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

7. Given two lists, l1 and l2, write a program to create a third list l3 by picking an
odd-index element from the list l1 and even index elements from the list l2.
Given:
<br>
l1 = [3, 6, 9, 12, 15, 18, 21]
<br>
l2 = [4, 8, 12, 16, 20, 24, 28]

In [81]:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
l3 = []
# for i in range(1,len(l1),2):
#     l3.append(l1[i])
#     l3.append(l2[i+1])
    
# OR
for i in range(1,len(l1),2):
    l3.append(l1[i])
for i in range(2,len(l1),2):
    l3.append(l2[i])
l3

[6, 12, 18, 12, 20, 28]